<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= post.titulo %></title>
</head>
<body>
  <h1><%= post.titulo %></h1>
  
Publicado por <%= post.autor %> em <%= post.data %>


  <div>
    
<%= post.conteudo %>


  </div>
</body>
</html>